button {
  float: right;
  color: white;
  border-color: blue;
  border-radius: 6px;
  background-color: blue;
  padding-right: 30px;
  padding-left: 30px;
  cursor: pointer;
}

/*.popup {
  border-color: red;

  position: absolute;
  top: 54%;
  left: 72%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: none;
  border-radius: 5px;
}*/

